:root {
    --board-size: 100vw;
    --square-size: 12.50vw;
}

body {
    width: 100%;

    margin: 0;
    padding: 0;
}

#board {
    background-color: peru;
    height: var(--board-size);
    width: var(--board-size);

    display: flex;
    flex-wrap: wrap;

    position: relative;

    margin: auto;
    padding: 0;
}

#board div {
    box-shadow: inset 1px 1px white, inset -1px -1px white;
    font-size: 3em;
    height: var(--square-size);
    width: var(--square-size);

    align-items: center;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

#banner {
    background-color: rgba(255,255,255,0.5);
    font-size: 3em;
    text-align: center;

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#banner.show {
    opacity: 1;
}